<% provide(:title, "Home") %>

<% if @home_page %>
  <section class="sec-main text-xs-center">
    <%= image_tag @home_page.title_backgroung.url(:original), class: 'background-img' %>
    <h1 class="main-heading"><%= @home_page.title %></h1>
  </section>
  <br>
  <section class="sec-about">
    <div class="container text-xs-center">
      <h1><%= @home_page.about_title %></h1>
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <%= markdown(@home_page.about_content) %>
        </div>
      </div>
      <hr />
    </div>
    <br>
  </section>
  <section id="services" class="sec-services">
    <div class="container text-xs-center">
      <h1><%= @home_page.services_title %></h1>

      <div class="row">
        <% @home_page.services.each do |service| %>
          <%= render :partial => 'service', :locals => { :object => service } %>
        <% end %>
      </div>
      <hr />

    </div>
  </section>
  <section id="folio" class="sec-folio">
    <div class="container text-xs-center">
      <h1>Previous Work</h1>

      <div class="row">
        <div class="col-md-4">
          <img class="center-block" src="https://source.unsplash.com/Oog0wehKxYs/450x450" alt="By Håkon Sataøen" />
        </div>

        <div class="col-md-4">
          <img class="center-block" src="https://source.unsplash.com/EfpOiZvPbT4/450x450" alt="By Samuel Zeller" />
        </div>

        <div class="col-md-4">
          <img class="center-block" src="https://source.unsplash.com/2aoVQXwLf3g/450x450" alt="By Scott Webb" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <img class="center-block" src="https://source.unsplash.com/o2KD7JtqTlk/450x450" alt="By Has Bonk" />
        </div>

        <div class="col-md-4">
          <img class="center-block" src="https://source.unsplash.com/TV2ET43jK0w/450x450" alt="By Scott Webb" />
        </div>

        <div class="col-md-4">
          <img class="center-block" src="https://source.unsplash.com/lZ2LB1s_z7s/450x450" alt="By Daniel Lozano Valdés" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <img class="center-block" src="https://source.unsplash.com/o4qL4FuwN6I/450x450" alt="By Anthony DELANOIX" />
        </div>

        <div class="col-md-4">
          <img class="center-block" src="https://source.unsplash.com/ej7RYC0ED_c/450x450" alt="By Patrick Pilz" />
        </div>

        <div class="col-md-4">
          <img class="center-block" src="https://source.unsplash.com/0G1r-Cg0zS8/450x450" alt="By Vita Vilcina" />
        </div>
      </div>
    </div>
  </section>
<% else %>
  <h1>Home page is not set up. Please create one.</h1>
<% end %>
