<% provide(:title, "Home") %>

<% if @home_page %>

  <section class="cover-image video-section hidden-sm-down">
    <div>
      <a class="player" id="bgndVideo" data-property="{videoURL: '<%= @home_page.video_url %>',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}"></a>
    </div>
    <div class="container">
      <div class="row">
        <div class="jumbotron col-xs-12">
          <h1 class="text-xs-center"><%= @home_page.title %></h1>
          <p class="lead text-xs-center">
            <%= @home_page.subtitle %>
          </p>
          <p class="lead text-xs-center">
            <%= link_to 'Go to blog!', articles_path, class: 'btn btn-primary btn-lg' %>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="cover-image-indent">
  </section>


  <section class="sec-main text-xs-center hidden-md-up">
    <%= image_tag @home_page.title_backgroung.thumb('1000x1000#').url, class: 'background-img' if @home_page.title_backgroung %>
    <div class="main-heading">
      <h1><%= @home_page.title %></h1>
      <p class="lead text-xs-center">
        <%= @home_page.subtitle %>
      </p>
    </div>
  </section>

  <br>
  <section class="sec-about">
    <div class="container text-xs-center">
      <h1><%= @home_page.about_title %></h1>
      <div class="row">
        <div class="col-xs-12 col-lg-8 offset-lg-2">
          <%= markdown(@home_page.about_content) %>
        </div>
      </div>
      <hr />
    </div>
    <br>
  </section>
  <section id="services" class="sec-services">
    <div class="container text-xs-center">
      <h1><%= @home_page.services_title %></h1>

      <% if @home_page.services.any? %>
        <div class="row">
          <% @home_page.services.each do |service| %>
            <%= render :partial => 'service', :locals => { :object => service } %>
          <% end %>
        </div>
      <% else %>
        <h5>There are no services yet. Please add one.</h5>
      <% end %>
      <hr />

    </div>
  </section>
  <section class="sec-folio">
    <div class="container text-xs-center">
      <% if @home_page.projects.any? %>
        <h1><%= @home_page.projects_title %></h1>
        <div class="row">
          <% @home_page.projects.each do |project| %>
              <%= render :partial => 'project', :locals => { :object => project } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
<% else %>
  <h1>Home page is not set up. Please create one.</h1>
<% end %>
