<div id="new_comment_alert"></div>

<%= form_for [@article, @new_comment], remote: true do |f| %>
  <div class="form-group">
    <%= f.text_field :author_name, placeholder: 'Name', class: 'form-control', :autocomplete => 'off', id: 'new_comment_author' %>
  </div>
  <div class="form-group">
    <%= f.text_area :text, rows: 3, placeholder: 'Your comment', class: 'form-control', :autocomplete => 'off', id: 'new_comment_text' %>
  </div>
    <%= f.submit "Comment", class: 'btn btn-outline-primary', id: 'add_comment' %>
    <small><span id="message_counter"></span></small>
<% end %>
<br>
<div id="comments_block">
  <% @comments.each do |comment| %>
    <%= render :partial => 'comments/comment', :locals => { :object => comment } %>
  <% end %>
  <div class="text-xs-center">
    <%= will_paginate @comments, :previous_label => '<', :next_label => '>' %>
  </div>
</div>
