<%= form_for [:admin, @article], html: { multipart: true } do |f| %>
  <%= f.submit "Save", class: 'btn btn-primary btn-sm' %>
  <%= link_to "Preview", admin_article_path(@article), class: 'btn btn-outline-primary btn-sm' if action?("edit") or action?("update") %>
  <%= link_to "Back to articles", admin_articles_path, class: 'btn btn-outline-primary btn-sm' %>
  <%= link_to "Delete", admin_article_path(@article), :method => :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-outline-danger btn-sm' if action?("edit") or action?("update") %>
  <br><br>
  <% if @article.errors.any? %>
    <div class="alert alert-danger">
      <h5 class="alert-heading"><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h5>
      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :status %>
    <%= f.select :status, Article::STATUS, class: 'form-control form-control-sm' %>  <%= "on #{@article["published_on"].strftime("%d.%m.%g at %H:%M")}" if @article.published_on != nil %>
  </div>
  <div class=form-group>
    <%= f.label :category %>
    <%= f.collection_select(:category_id, Category.all, :id, :name, class: 'form-control form-control-sm') %>
  </div>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', :autocomplete => 'off' %>
  </div>
  <div class="form-group">
    <%= f.label :description, "Description (MD)" %>
    <%= f.text_area :description, class: 'form-control', rows: 5, :autocomplete => 'off' %>
  </div>
  <div class="form-group">
    <%= f.label :content, "Content (MD)" %>
    <%= f.text_area :content, class: 'form-control', rows: 20, :autocomplete => 'off' %>
  </div>
  <div id="images_list">
    <%= f.fields_for :images do |builder| %>
      <%= render 'image_fields', :f => builder %>
    <% end %>
  </div>
  <%= link_to "Add image", admin_article_add_image_path(@article), class: 'btn btn-outline-primary btn-sm', remote: true if @article.persisted? %>
  <hr>
  <%= f.submit "Save", class: 'btn btn-primary btn-sm' %>
  <%= link_to "Preview", admin_article_path(@article), class: 'btn btn-outline-primary btn-sm' if action?("edit") or action?("update") %>
  <%= link_to "Back to articles", admin_articles_path, class: 'btn btn-outline-primary btn-sm' %>
<% end %>
