  <div class="blog_article">
    <h2>
      <% if params[:action] == "show" %>
        <%= object.title %>
      <% else %>
        <%= link_to "#{object.title}", article_path(object) %>
      <% end %>
      <% if admin_signed_in? %>
        [<%= link_to "Edit", edit_admin_article_path(object) %>]
      <% end %>
    </h2>
    <div class="blog-article-header">
      <span class="section"><a href="#">Lifestyle</a></span>
      <span>by <a href="#">Konstantin</a></span>
      <span><i class="fi-calendar"></i> <%= object.published_at.strftime("%b %d, %Y") %></span>
      <span>Tags: <a href="#">colors</a></span>
      <br>
      <span><i class="fi-eye"></i> <%= object.views %> | <a href="#"><i class="fi-comment"></i> 3 Comments</a></span>      </div>
    <p>
      <%= markdown(object.description) %>
    </p>
    <% if params[:action] == "show" %>
      <p>
        <%= markdown(object.content) %>
      </p>
      <div class="share">
        Share:
        <a href="#"><i class="fi-social-facebook"></i></a>
        <a href="#"><i class="fi-social-twitter"></i></a>
        <a href="#"><i class="fi-social-pinterest"></i></a>
      </div>
    <% else %>
      <div class="blog-article-footer">
        <%= link_to "Continue Reading", article_path(object), {:class => 'continue'} %>
        <div class="share">
          Share:
          <a href="#"><i class="fi-social-facebook"></i></a>
          <a href="#"><i class="fi-social-twitter"></i></a>
          <a href="#"><i class="fi-social-pinterest"></i></a>
        </div>
      </div>
    <% end %>
  </div>
