  <div class="blog-article">
    <h2>
      <% if (params[:controller] == "articles" || params[:controller] == "admin/articles") && params[:action] == "show" %>
        <%= object["title"] %>
      <% else %>
        <%= link_to "#{object["title"]}", article_path(object) %>
      <% end %>
      <% if admin_signed_in? %>
        [<%= link_to "Edit", edit_admin_article_path(object) %>]
      <% end %>
    </h2>
    <div class="blog-article-header">
      <span class="section">
        <% if object.category %>
          <%= link_to "#{object["category_fields"]["name"]}", category_path(object.category) %>
        <% else %>
          (none)
        <% end %>
      </span>
      <span><i class="fi-calendar"></i> <%= object["published_on"].strftime("%b %d, %Y") if object["published_on"] %></span>
      <span>Tags: <a href="#">colors</a></span>
      <br>
      <span>
        <i class="fi-eye"></i> <%= object["views"] %> |
        <i class="fi-comment"></i> <%= link_to "#{pluralize(object.comments.count, 'comment')}", article_path(object, anchor: 'article_comments') %>
      </span>
    </div>
    <% if (params[:controller] == "articles" || params[:controller] == "admin/articles") && params[:action] == "show" %>
      <%= markdown(object["description"]) %>
    <% else %>
      <%= link_to raw("#{markdown(object["description"])}"), article_path(object) %>
    <% end %>
    <% if (params[:controller] == "articles" || params[:controller] == "admin/articles") && params[:action] == "show" %>
      <%= markdown(object["content"]) %>
      <div class="share">
        Share:
        <a href="#"><i class="fi-social-facebook"></i></a>
        <a href="#"><i class="fi-social-twitter"></i></a>
        <a href="#"><i class="fi-social-pinterest"></i></a>
      </div>
      <hr>
      <div id="article_comments">
        <%= render :partial => 'comments/comments_block' %>
      </div>
    <% else %>
      <div class="blog-article-footer">
        <%= link_to "Continue Reading", article_path(object), {:class => 'continue'} %>
        <div class="share">
          Share:
          <a href="" onclick='share_facebook(
                    "<%= "#{article_url(object)}" %>",
                    "<%= "#{object.title}" %>",
                    "<%= "#{URI(request.url)}#{object.images.first.image(:original)}" if object.images.any? %>",
                    "SMIPLAY.COM"
                  )'><i class="fi-social-facebook"></i></a>
          <a href=""><i class="fi-social-twitter"></i></a>
          <a href=""><i class="fi-social-pinterest"></i></a>
        </div>
      </div>
    <% end %>
  </div>
