<div class="share-buttons-list">
  <span class="share-button facebook" onclick='share_facebook(
          "<%= "#{article_url(object)}" %>",
          "<%= "#{object.title}" %>",
          "<%= "#{object.description}" %>",
          "<%= "#{URI(request.base_url)}#{object.images.primary_images.first.image(:preview)}" if object.images.primary_images.any? %>",
          "<%= URI(request.base_url) %>")'>
    <i class="fa fa-facebook"></i>
  </span>

  <a href=
      <%= "https://twitter.com/intent/tweet?" +
      "text=#{URI.encode(object.title)}" +
      "&url=#{article_url(object)}" +
      "&hashtags=smiplay" +
      "&via=smiplay" %>
  ><span class="share-button twitter">
    <i class="fa fa-twitter"></i>
  </span></a>

  <span class="share-button linkedin" onclick='share_linkedin(
    "<%= "&url=#{article_url(object)}" %>",
    "<%= "&title=#{URI.encode(object.title)}" %>",
    "<%= "&summary=#{URI.encode(object.description)}" %>",
    "<%= "&source=#{URI(request.base_url)}" %>"
  )'>
    <i class="fa fa-linkedin"></i>
  </span></a>
</div>
