<div class="row">
  <div class="col-md-9">
    <div class="blog-post-preview">
      <h2>
        <%= @article.title %>
        <% if admin_signed_in? %>
          [<%= link_to "Edit", edit_admin_article_path(@article) %>]
        <% end %>
      </h2>
      <div class="post-header">
          <span class="section"><a href="#">Lifestyle</a></span>
          <span>by <a href="#">Konstantin</a></span>
          <span><i class="fi-calendar"></i> August 31, 2016</span>
          <span>Tags: <a href="#">colors</a></span>
          <br>
          <span><a href="#"><i class="fi-comment"></i> 3 Comments</a></span>
      </div>
      <p>
        <%= markdown(@article.description) %>
      </p>
      <p>
        <%= markdown(@article.content) %>
      </p>
      <div class="share">
          Share:
          <a href="#"><i class="fi-social-facebook"></i></a>
          <a href="#"><i class="fi-social-twitter"></i></a>
          <a href="#"><i class="fi-social-pinterest"></i></a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <%= render :partial => 'shared/categories' %>
    <%= render :partial => 'shared/subscribe' %>
    <%= render :partial => 'shared/aboutme' %>
  </div>
</div>
