<% provide(:title, "Tags") %>

<table class="table">
  <thead class="thead-default">
    <tr>
      <th>Name</th>
      <th>Slug</th>
      <th>Articles count</th>
      <th>
        Options
        <%= link_to 'Add', new_admin_tag_path, class: 'btn btn-outline-primary btn-sm pull-lg-right' %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% if @tags.empty? %>
      <tr>
        <td colspan="6">
          <p>There are no tags yet.</p>
        </td>
      </tr>
    <% else %>
      <% @tags.each do |tag| %>
        <tr>
          <td><%= tag["name"] %></td>
          <td><%= tag["slug"] %></td>
          <td><%= tag["articles_fields"].count %></td>
          <td>
            <%= link_to "Edit", edit_admin_tag_path(tag), class: 'btn btn-outline-primary btn-sm' %>
            <%= link_to "Delete", admin_tag_path(tag), :method => :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
