<% provide(:title, "Projects") %>

<table class="table">
  <thead class="thead-default">
    <tr>
      <th>Preview</th>
      <th>Title</th>
      <th>
        Options
        <%= link_to 'Add', new_admin_project_path, class: 'btn btn-outline-primary btn-sm pull-lg-right' %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% if @projects.empty? %>
      <tr>
        <td colspan="6">
          <p>There are no projects yet.</p>
        </td>
      </tr>
    <% else %>
      <% @projects.each do |project| %>
        <tr>
          <td><%= image_tag project.image.thumb('300x200>').url %></td>
          <td><%= project["title"] %></td>
          <td>
            <%= link_to "Edit", edit_admin_project_path(project), class: 'btn btn-outline-primary btn-sm' %>
            <%= link_to "Delete", admin_project_path(project), :method => :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
