<% provide(:title, "Search") %>
<div class="row">
  <div class="col-md-9 col-lg-10">
    <div class="row">
      <div class="col-lg-12">
        <%= form_tag("/search", method: "get") do %>
          <div class="input-group input-group-lg">
            <%= text_field_tag :search_query, params[:search_query], class: 'form-control input-lg', placeholder: 'Write a phrase to search...', :autocomplete => 'off' %>
            <span class="input-group-btn">
              <%= submit_tag "Search", class: 'btn btn-outline-primary' %>
            </span>
          </div>
        <% end %>
      </div>
    </div>

    <% if defined?(@found_articles) %>
      <% if @found_articles.count == 0 %>
        <div class="search-results-counter">
          <h5>No articles found...</h5>
        </div>
      <% else %>
        <div class="search-results-counter">
          <h5><%= pluralize(@found_articles.count, "article") %> found:</h5>
        </div>
        <% @found_articles.each do |article| %>
          <%= render :partial => 'search_result', :locals => { :object => article } %>
        <% end %>
        <div class="text-xs-center">
          <%= will_paginate @found_articles, :previous_label => '<', :next_label => '>' %>
        </div>
      <% end %>
    <% end %>

  </div>
  <div class="col-md-3 col-lg-2">
    <%= render :partial => 'blog/categories/categories_widget' %>
    <%= render :partial => 'shared/subscribe' %>
  </div>
</div>
