<% meta_tag :description, object["description"].truncate(140) %>
<% meta_tag :keywords, object["keywords"] %>


<div class="blog-article">
  <h1>
    <% if (params[:controller] == "blog/articles" || params[:controller] == "admin/articles") && params[:action] == "show" %>
      <%= object["title"] %>
    <% else %>
      <%= link_to "#{object["title"]}", article_path(object) %>
    <% end %>
    <% if admin_signed_in? %>
      [<%= link_to "Edit", edit_admin_article_path(object) %>]
    <% end %>
  </h1>
  <div class="blog-article-header">
    <span class="section">
      <% if object.category %>
        <%= link_to "#{object["category_fields"]["name"]}", category_path(object.category) %>
      <% else %>
        (none)
      <% end %>
    </span>
    <span><i class="fi-calendar"></i> <%= object["published_on"].strftime("%b %d, %Y") if object["published_on"] %></span>
    <span>
      <i class="fa fa-eye"></i> <%= object["views"] %>
    </span>
    <span>
      <i class="fa fa-comments"></i> <%= object.comments.count %>
    </span>
  </div>
    <% object.images.primary_images.each do |primary_image| %>
      <%= image_tag primary_image.image.url( action?("show") ? :original : :preview ) %>
    <% end %>
    <div class="blog-article-description"><%= markdown(object["description"]) %></div>
  <% if (params[:controller] == "blog/articles" || params[:controller] == "admin/articles") && params[:action] == "show" %>
    <%= markdown(object["content"]) %>
    <div class="row">
      <div class="col-xs-12">
        <%= render :partial => 'blog/articles/share_buttons', :locals => {:object => object} %>
      </div>
    </div>
    <div id="article_comments">
      <%= render :partial => 'blog/comments/comments_block' %>
    </div>
  <% else %>
    <div class="blog-article-footer">
      <div class="continue">
        <%= link_to "Continue Reading", article_path(object) %>
      </div>
      <%= render :partial => 'blog/articles/share_buttons', :locals => {:object => object} %>
    </div>
  <% end %>
</div>
