<div class="card">
  <div class="card-block">
    <h3 class="card-title">Popular articles</h3>
    <% if @popular_articles.empty? %>
      <p>
        There are no popular articles yet
      </p>
    <% else %>
      <% @popular_articles.each do |article| %>
      <div class="blog-article">
        <h5 class="card-text"><%= link_to "#{article["title"]}", article_path(article) %></h5>
        <div class="blog-article-header">
          <span class="section">
            <% if article.category %>
              <%= link_to "#{article["category_fields"]["name"]}", category_path(article.category) %>
            <% else %>
              (none)
            <% end %>
          </span>
          <span><i class="fi-calendar"></i> <%= article["published_on"].strftime("%b %d, %Y") if article["published_on"] %></span>
          <span>
            <i class="fa fa-eye"></i> <%= article["views"] %>
          </span>
          <span>
            <i class="fa fa-comments"></i> <%= article.comments.count %>
          </span>
        </div>
        <%= markdown(article["description"])%>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
<hr>
