<% provide(:title, @article["title"]) %>
<div class="row">
  <div class="col-md-8 col-lg-9">
    <%= render :partial => 'blog/articles/blog_article', :locals => { :object => @article } %>
  </div>
  <div class="col-md-4 col-lg-3">
    <%= render :partial => 'shared/search_widget' %>
    <%= render :partial => 'blog/categories/categories_widget' %>
    <%= render :partial => 'blog/articles/popular_articles_widget'%>
    <%= render :partial => 'shared/subscribe' %>
  </div>
</div>
