<head>
  <title><%= title(yield(:title)) %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script src="https://use.fontawesome.com/f2f87b72d2.js"></script>

  <meta name="google-site-verification" content="Ga9Ta4_a-Tw-qY1X_MeBgkiSWRTUZXUHL-7O09HcEfc" />
  <meta name="yandex-verification" content="2f5dee12ca017fdc" />

  <meta name='description' content='<%= yield_meta_tag(:description, (@common_settings["default_description"] if @common_settings)) %>' />
  <meta name='keywords' content='<%= yield_meta_tag(:keywords, (@common_settings["default_keywords"] if @common_settings)) %>' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script type="text/javascript" src="http://localhost:3000/widget_init.js"></script>
</head>
